<div class="container center title">
  <h1>Listing Articles</h1>
</div>

<div class="center">
  <%= will_paginate %>
</div>
<%= render 'new_article_button' %>
<%= render 'article', obj: @articles %>
<%= render 'new_article_button' %>
<div class="center">
  <%= will_paginate %>
</div>
